.footer {
    height: 64px;
    background: #2e2e2e;
    user-select: none;
    -webkit-user-drag: none;
    &-text {
        margin: auto;
        display: flex;
        height: 100%;
        span {
            width: 100%;
            text-align: center;
            align-self: center;
            color: #dfdfdf;
            font-size: 15px;
            letter-spacing: 0.05rem;
            .icon {
                display: inline;
                margin-left: 8px;
                transition: 100ms;
            }
            .icon:hover {
                cursor: pointer;
                color: #fff;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &-text {
            span {
                font-size: 12px;
            }
        }
    }
}