.about {
    background: #efefef;
    padding: 72px 128px;
    &-title {
        width: 100%;
        h1 {
            margin: auto;
            text-align: center;
            color: #323232;
        }
        margin-bottom: 56px;
    }
}