.members {
    background: darken(#fff, 4.75%);
    padding: 96px 128px;
    &-title {
        width: 100%;
        h1 {
            margin: auto;
            text-align: center;
            color: #323232;
        }
        margin-bottom: 56px;
    }
}