.members {
    background: darken(#fff, 4.75%);
    padding: 72px 128px;
    &-title {
        width: 100%;
        h1 {
            margin: auto;
            text-align: center;
            color: #323232;
        }
        margin-bottom: 48px;
    }
    &-body {
        &-list {
            width: 100%;
            max-width: 1123px;
        }
    }
}

@media (max-width: 767.99px) {
    .members {
        padding: 48px 24px;
        &-title {
            margin-bottom: 48px;
        }
    }
}