.projects {
    background: #fefefe;
    padding: 96px 128px;
    &-title {
        width: 100%;
        h1 {
            margin: auto;
            text-align: center;
            color: #323232;
        }
        margin-bottom: 56px;
    }
    &-body {
        &-list{
            width: 100%;
            max-width: 1024px;
            margin: auto;
        }
    }
}